@font-face {
    font-family: 'Mega-Fresh';
    src: url('~@/assets/font/mega_fresh-webfont.woff2');
}
.v-application--wrap {
	background: #F0F3F3 !important;
}
.fondo_circular{
	width: 150%;
    display: block;
    height: auto;
    border-radius: 50%;
    position: relative;
    margin-left: -25%;
    margin-top: 0;
}
.fondo_circular_medio{
	height: auto;
    width: 120%;
    background-size: cover;
    position: relative;
    border-radius: 50% 50% 0 0;
    margin-left: -10%;
    margin-top: 0;
}
.contenedor_circular{
	width: 100%;
    height: 300px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    overflow: hidden;
}
.fondo_circular_footer{
    height: 200%;
    width: 120%;
    background-color: #003C79;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    margin-left: -10%;
    margin-top: 0;
}
.subtitulo_primario{
	color: #003C79;
	font-size: calc(0.8em + 1vw);
	font-weight: 300;
}
.subtitulo_secundario{
	color: #2196f3 !important;
	font-size: calc(0.8em + 1vw);
	font-weight: 500;
}
.titulo_primario{
	font-size: calc(1em + 1.5vw);
	font-weight: 900;
	line-height: normal;
}
.titulo_primario_light{
	font-size: calc(1em + 1.5vw);
	font-weight: 300;
}
.titulo_secundario{
	font-size: calc(0.8em + 1vw); 
	font-weight: 900;
}
.img--logo{
	width:150px;
	height:45px;
}
.img--circle{
	border-radius: 50%;
    align-items: center;
    display: block;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 400px;
	height: 400px;
}
.img--circle-md{
	border-radius: 50%;
    align-items: center;
    display: block;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 350px;
	height: 350px;
}
.img--circle-sm{
	border-radius: 50%;
    align-items: center;
    display: block;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: 200px;
    width: 200px;
}
.hansa--text{
	color: #003C79 !important;
}
.bg-blue{
	background: #2196f3;
}
.bg-hansa{
	background: #003C79;
}
.bg-gris-light{
	background: #f5f5f7;
}
#modal-full{
    display:    block;
    position:   fixed;
    z-index:    2090;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #fff;
    color: #2196f3;
}
.carga_ini{
	font-family: sans-serif;
	font-size: 40px; 
	font-weight: 800;
}
#contenedor{
	align-items: center;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: .3s cubic-bezier(.25,.8,.5,1),z-index 1ms;
}
.hansa-text-benner{
	font-size: calc(1em + 2vw);
	font-weight: 400;
}
.blue-text-banner{
	font-size: calc(1em + 2vw);
	font-weight: 900;
}
.banner-body{
	border-left: 18px solid #2196f3; 
	padding: calc(1em + 1vw);
	line-height: calc(1em + 2vw);
}
.banner-body-right{
	border-right: 20px solid #2196f3; 
	padding: calc(1em + 1vw);
	line-height: calc(1em + 2vw);
}
.banner-body-full{
	border-left: 
	8px solid #2196f3; 
	padding: 25px; 
	height:480px;
}
.banner-body-full2{
	border-left: 
	8px solid #2196f3;
	height:580px;
}
.txt-center{
	text-align: center !important;
}
.parrafo_intencion{
	height: 500px; 
	width: 500px;
}
.img-intencion{
	width: 400px;
	height: 400px;
}
.banner-txt-lg{
	font-size: 80px;font-weight: 900;
}
.banner-txt-sm{
	font-size: 30px;
}
@media only screen and (min-width: 600px) {
	.v-application .d-sm-flex {
	    display: block !important;
	}
}
@media only screen and (max-width: 1264px) {
	.img--circle-md{
		width: 250px;
		height: 250px;
	}
}
@media only screen and (max-width: 960px) {
	.fondo_circular_medio{
		height: auto;
	    width: 100%;
	    background-size: cover;
	    position: relative;
	    border-radius: 0;
	    margin-left: 0;
	    margin-top: 0;
	}
	.fondo_circular{
		height: auto;
	    width: 100%;
	    background-size: cover;
	    position: relative;
	    border-radius: 0;
	    margin-left: 0;
	    margin-top: 0;
	}
	.banner-body-full{
		height:auto;
	}
	.subtitulo_primario{
		color: #003C79;
		font-size: calc(0.8em + 2vw);
		font-weight: 300;
	}
	.subtitulo_secundario{
		color: #2196f3 !important;
		font-size: calc(0.8em + 2vw);
		font-weight: 500;
	}
	.parrafo_intencion{
		height: auto; 
		width: 100%;
	}
	.img-intencion{
		width: 300px;
		height: 300px;
	}
	.img--circle{
		width: 300px;
		height: 300px;
	}
	.img--circle-md{
		width: 250px;
		height: 250px;
	}
	.banner-body-full2 {
	    height: auto;
	}
}
@media only screen and (max-width: 600px) {
	.img-intencion{
		width: 200px;
		height: 200px;
	}
	.img--circle{
		width: 200px;
		height: 200px;
	}
	.img--circle-md{
		width: 200px;
		height: 200px;
	}
	.v-application .d-flex{
		display: block!important;
	}
	.img--logo{
		width:150px;
		height:45px;
	}
	.banner-body-full2 {
	    height: auto;
	}
	.banner-txt-lg{
		font-size: 40px; font-weight: 900;
	}
	.banner-txt-sm{
		font-size: 20px;
	}
}

/* general */
.fs-0-9{
    font-size:0.9rem;
}
.fs-1{
    font-size:1rem;
}
.fs-1-1{
    font-size:1.1rem;
}
.fs-1-2{
    font-size:1.5em;
}
.fs-1-5{
    font-size:1.5rem;
}
.fs-2{
    font-size:2em;
}
.fs-2-5{
    font-size:2.5rem;
}
.fs-3{
    font-size:3rem;
}
.fs-4{
    font-size:4rem;
}
.fs-5{
    font-size:5vw;
}

.fw-600{
	font-weight: 600;
}

/*admin*/
.seleccionaImagen{
	display: none;
}

.lblSelecciona{
	margin-top:10px !important;
	padding:7px 15px;
	background-color: #003C79;
	color: #F0F3F3;
	border-radius:5px;
	cursor: pointer;
}

/* .color-content{
	color:#666666;
} */

.font-cursive{
	font-family: 'Mega-Fresh', cursive;
}
.separador-hr{
	width: 70px;
	background-color: #0099ff;
	height: 4px;
	margin-top: 10px;
	margin-bottom:10px;
	border-top: none;
}
.linea-card[data-v-fae5bece] {
    width: 50%;
    margin: 0px auto;
    height: 4px;
    border-radius: 3px;
    background-color: #0099ff;
	border-top: none;
}
.title-box {
    font-size: 40px !important;
	font-weight: 200 !important;
	color: #021F3C;
}
.subtitle-box{
	font-size: 1rem;
    margin-bottom: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color:#0099ff;
}
.theme--light.v-sheet {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #021F3C;
}
.theme--light.v-application {
    background: #FFFFFF;
    color: #021F3C;
}
/*animaciones*/

.line-blue{
	width:8%;
	background-color:#42a5f5;
	height:4px;
	border-radius:5px;
	margin:3px 0px 5px 0px;
}

.pointer{
	cursor:pointer;
}

.border-botom-none{
	border-bottom: none;
}

